@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cabin:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.cabin-regular {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.color-white {
  color: #ffffff;
  text-shadow: 5px 5px 10px #000000;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 70px;
}

@media only screen and (max-width:600px) {
  h2 {
    font-size: 10vw;
    text-align: center;
  }
}

h3,
h4,
h5,
h6,
p {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#root,
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/********
*
* ANIMATIONS
*
*********/

@keyframes fade {
  from {
    opacity: 0.4
  }
}

@-o-keyframes fade {
  from {
    opacity: 0.4
  }
}

@-moz-keyframes fade {
  from {
    opacity: 0.4
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4
  }
}

/********
*
* SLIDER
*
*********/
.slider-container {
  width: 100%;
  padding: 2% 0;
  height: 75vh;
  min-height: 330px;
  position: relative;
  overflow: hidden;
}

.slider-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  animation: fade 3.5s infinite alternate;
}

.slider-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.slider-content {
  position: absolute;
  margin: auto;
  text-align: center;
  z-index: 2000;
  top: 10vh;
  left: 15%;
  right: 15%;
}

/********
*
* BUTTONS
*
*********/
a.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90px;
  height: 35px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 0.5s;
  border: 2px solid #000000;
}

a.btn-primary:hover {
  background-color: transparent;
  color: #000000;
}


/********
*
* SEARCH BAR
*
*********/
.rounded {
  border-radius: 25px;
}

.form-type {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0;
}

.search-area {
  display: flex;
  justify-content: center;
  border: 1px solid #000000;
  height: 30px;
  width: 80%;
  padding: 2px 15px;
}

.input-search,
.input-search>button.button-search {
  border: none;
  background-color: transparent;
}

.input-search:focus {
  outline: none;
}

.button-search {
  background-color: #ffffff00;
  border: 0;
  outline: 0 !important;
}

button.button-search:focus {
  outline: 0 !important;
  box-shadow: none;
}

.input-search {
  width: 100%;
  height: 100%;
}

/********
*
* POSTS
* img-cover, post-area, etc...
*
*********/
.columns-2 {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 2% auto;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
}

div.post-area:nth-child(odd) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

div.post-area:nth-child(even) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0px;
}

.post-area {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 40%;
  padding: 30px;
  border: 1px solid #000000;
  margin-top: 2%;
  height: 450px;
}

.category-title {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.img-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;

}

.post-thumbnail {
  width: 90%;
  height: 300px;
  flex-shrink: 0;
}

.btn-post-thumbnail {
  position: relative;
  top: -60px;
  left: 40%;
  flex-shrink: 0;

}

.post-area h2 {
  font-size: 20px;
  text-align: center;
  margin: 2px 5px;
  text-transform: capitalize;
}

@media only screen and (max-width:600px) {
  .columns-2 {
    flex-direction: column;
  }

  .post-area {
    width: 90%;
    padding: 5%;
    margin-top: 0px;
    height: auto;
  }

  .post-thumbnail {
    width: 90%;
    height: 90%;
  }

  .btn-post-thumbnail {
    position: relative;
    top: -20px;
    left: 0;
  }

  div.post-area:nth-child(odd),
  div.post-area:nth-child(even) {
    border-radius: 0px;
    border: 1px solid #000000;
  }


}